* {
  box-sizing: border-box;
}

.countainer {
  height: 120px;
  width: 0 auto;
 
}
.secondcoun {
  display: flex;
  height: 60%;
  width: 0 auto;
}
input {
  width: 694px;
  height: 40px;
  margin-left: 40px;
  margin-top: 5px;
  background-color: rgb(235, 235, 235);
  border-radius: 1%;
  font-size: 20px;
}
.logo {
  height: 50px;
  width: 150px;
  margin-left: 65px;
}
button {
  margin-top: 10px;
  height: 30px;
  width: 150px;
  margin-left: 10px;
}

.line {
  max-width: 0 auto;
  background-color: rgb(204, 204, 204);
  height: 1px;
}

.home-picture {
  max-height: 500px;
  max-width: 00%;
}

.home-picture {
  max-height: 1000px;
  max-width: 0 auto;
}
.offers-parent {
  max-width: 1241px;
  max-height: auto;
  border: chartreuse solid 2px;
  background-color: red;
  margin-left: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.toto {
  max-height: 80px;
  max-width: 270px;
  border: black solid 2px;
}
img {
  max-height: 100%;

  max-width: 100%;
}
.pictures-containers {
  height: 270px;
  width: 270px;
  border: white solid 2px;
}
.Signup-container{
   margin-top: 200px;
   margin-left: 350px;
    max-height: 0 auto;
    max-width: 800px;
}